:root {
  --garnet: #852714;
  --onyx: #1E1F20;
  --darkPeacock: #06423B;
  --mint: #61B990;
  --mustard: #CF9F01;
  --ivory: #F7F6EB;
}

body {
  font-family: 'Quattrocento Sans', sans-serif !important;
}

.text-title {
  font-family: 'Special Elite', cursive;
}
