:root {
  --garnet: #852714;
  --onyx: #1E1F20;
  --darkPeacock: #06423B;
  --mint: #61B990;
  --mustard: #CF9F01;
  --ivory: #F7F6EB;
}

body {
  font-family: 'Quattrocento Sans', sans-serif !important;
  background: var(--onyx) !important;
  color: var(--ivory) !important;
}

.text-title {
  font-family: 'Special Elite', cursive;
  color: var(--mint) !important;
}

.info-title {
  font-family: 'Special Elite', cursive;
  color: var(--ivory) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--garnet);
}

.payment-id {
  font-size: 0.8rem;
}
